<!-- <div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Inline form</nb-card-header>
        <nb-card-body>
          <form class="form-inline">
            <input type="text" nbInput fullWidth placeholder="Jane Doe">
            <input type="text" nbInput fullWidth placeholder="Email">
            <nb-checkbox>Remember me</nb-checkbox>
            <button type="submit" nbButton status="primary">Submit</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Add Course Details</nb-card-header>
        <nb-card-body>
          <form>
           


            <div class="form-group row">
              <label for="inputEmail1" class="label col-sm-3 col-form-label">Course Category Name</label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth id="inputEmail1" placeholder="Course Category Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="ctitle" class="label col-sm-3 col-form-label">Course Category Description</label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth id="ctitle" placeholder="Course Category Description">
              </div>
            </div>
           
            <div class="form-group row">
              <label class="col-sm-3 label">Status</label>
              <div class="col-sm-9">
                <nb-radio-group>
                  <nb-radio>Active</nb-radio>
                  <nb-radio>Inactive</nb-radio>
                  <!-- <nb-radio disabled>Disabled Option</nb-radio> -->
                </nb-radio-group>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" nbButton status="primary">Submit</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
  
      
    </div>
  
    
  </div>